# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Build
.next/
out/
build/

# Environment variables
.env
.env.local
.env.*.local

# Jest y testing
coverage/

# IDEs y editores
.vscode/
.idea/
*.swp

# Otros
.DS_Store