.user-settings-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.user-settings-container h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.setting {
  margin-bottom: 15px;
}

.setting label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.setting select,
.setting input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.setting input[type="checkbox"] {
  width: auto;
}
